@import "../src/App.module.scss";

.btn {
  color: #fff;
  border-radius: 500px;
  padding: 0.8rem 1.5rem;
  border: 0;
  cursor: pointer;
  @include transition;

  &:hover {
    opacity: 0.6;
  }
}

.btn-primary {
    background-color: $primary;
  }
