@import "../src/App.module.scss";

.custom-toast {
  background-color: $primary;
  color: white;
}

.Toastify__toast-icon {
  svg {
    fill: #fff;
  }
}

.Toastify__progress-bar--success {
  background: #00000037;
}
