@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;800&display=swap');

$primary: blue;
$secondary: red;

@mixin transition {
    transition: ease-in-out all .2s;
}

body,
.MuiTypography-root{
    font-family: 'Wix Madefor Display', sans-serif !important;
}

body {
    background-color: #fff;
}

.form {
  width: 500px;
  margin: 2rem auto;
}

.row {
  margin-bottom: 1rem;
  min-width: 100%;
}

input,
textarea {
  min-width: 100%;
  display: block;
}

