@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

$primary: #F2877D;
$secondary: red;

@mixin transition {
    transition: ease-in-out all .2s;
}

body,
.MuiTypography-root{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
}

body {
    background-color: #fff;
    // max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    min-height: 100vh;
    color: #000;
}

h1,h2,h3,h4,h5 {
  font-weight: 500;
  color: #000;
}
p {
  color: #000;
}

h2 {
  font-size: 2rem;
  line-height: 120%;
  margin-bottom: 1rem;

}

h3 {
  font-size: 1.6rem;
}

a {
  color: $primary;
  text-decoration:none;
}

.form {
  width: 500px;
  margin: 2rem auto;
}

.row {
  margin-bottom: 1rem;
  min-width: 100%;
}

input,
textarea {
  min-width: 100%;
  display: block;
  border: 1px solid #cdcdcd;
}

.container {
  background-color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    text-align: center;
  }

  p {
    text-align: center;
  }
}

// ----------
.dialog-content {
  display: flex;
 
.image-wrap {
  min-width: 50%;
  min-height: 100%;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  justify-content: center;

  h3 {
    color: #fff;
    max-width: 80%;
    text-align: center;
    margin-top: 1rem;
  }
}

}

.MuiDialog-container {
  width: 100vw;
}

.MuiPaper-elevation  {
  border-radius: 10px !important;
  max-width: 80vw !important;
  max-height: calc(100% - 30px) !important;
  // border: 1px solid $primary;
}

.form-wrap {
  padding: 3rem 4rem;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    margin-top: 1.5rem;
  }

  h3 {
    text-align: center;
    margin-top: .5rem;
    margin-bottom: 0;
  }
}



// -----------
.input-container {
  position: relative;
  // width: 400px;
  margin-top: -30px;
  margin-bottom: 1rem;
}

.container{
  form {
    width: 400px;
  }
}

.input-user {
  width: 100%;
}

.input-container::before {
  content: "";
  display: block;
  color: #000;
  z-index: 99;
  position: relative;
  top: 66px;
  left: 10px;
  // transform: translateY(-50%);
  width: 25px;
  height: 25px;
  opacity: .6;
}

input {
  padding: .5rem 1rem .5rem  2.5rem;
  max-width: 400px;
}

label {
  margin-bottom: .5rem;
  display: block;
}

.input-user::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"></path></svg>');
}
.input-password::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zM9 6c0-1.66 1.34-3 3-3s3 1.34 3 3v2H9V6zm9 14H6V10h12v10zm-6-3c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"></path></svg>');
}
.input-email::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"></path></svg>');
}

input {
  outline: 1px solid #cdcdcd;
  border: 2px solid #fff;
  box-shadow: none !important;
  border-radius: 2px;

  &:focus {
    outline: 1px solid $primary;
    border-radius: 2px;
    border: 2px solid #fff;
    padding: .5rem 1rem .5rem  2.5rem;
    box-shadow: none !important;
  }
}

.login-form-wrap {
  width: 50vw;

  input {
    width: 100%;
  }
}

.social-btn-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  gap: 16px; /* Adjust the gap between items as needed */
}